body{

    margin: 0px;
    background-image:url('background/1.jpg');
    background-repeat: no-repeat;
    position: relative;
    background-size: 100%;


}


.container{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

}

.header{
    width: 100%;
    height: 30%;   

}


.header-logo{
    float: left;
    width: 100%;
    text-align: center;
    position: relative;

}

.header-logo img
{
    width: 30%;
    height: 100px;
    padding-top: 0.5%;
    text-align: center;
    margin-top: 50px;

}

.content{
    width: 100%;
    min-height: 82%;
    height: 0px;
    padding: 0;

}

.content-title
{
    width: 100%;
    height: 0px;
    text-align: center;
    font-size: 70px;
    color: #ff0096;
}

.content-detail
{
    width: 100%;
   
    text-align: center;
    color: #FFCC80;
    font-size: 30px

}
.content-image
{
    margin-top: 100px;
    float: left;
    width: 70%;
    height: 20%;
   
}


.content-image-desc
{
    margin-top: 120px;
    margin-left: -250px;
    float:left;
    width: 30%;
    height: 100%;
    text-align: left;
    color: black;
}


.footer{    
    width: 100%;
    height: 100px;
    background-color: white;
    position: relative;
}

.footer-detail
{
    width: 100%;
    height: 100%;
    margin-top: 150px;
    text-align: center;

}
.footer-image
{
    margin-right: 10px;
    margin-top: 25px;
    float: left;
    width: 24%;
    height: 100%;
    text-align: center;
}