body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-1 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close-1 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-1:hover,
.close-1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* ------ */
.img-fluid{
    margin-bottom:10px;
    height:300px;
    width: 500px;
}

.img-fluid-modal{
    width:300px;
    height:300px;
    margin:1%;
}

.header{
    width: 100%;
    height: 50%;
}

.header-logo{
    margin-top:60px;
    text-align: center;
}

.header-logo img{
    width:90vw;
    max-width: 500px;
}

/* .nav-item{
    text-decoration: none;
} */

@media(max-width: 576px){    

    .img-fluid{
        margin-bottom:10px;
        height:200px;
        width: 200px;
    }

.img-fluid-modal{
       width:170px;
       height:170px;
       margin:1%;
    }
}
.confirm-adopt-button{
    margin:0 auto;
}
.confirm-yes, .confirm-no{
    display: none;
}