body{
    margin: 0px;
    background-position: center;
    background-size: cover;
}

.header{
    width: 100%;
    height: 50%;
}

.header-logo{
    text-align: center;
}
/* 
.header-logo img{
    width:100%;
    max-width: 500px;
} */

.container{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 5%;
}

.container-login100{
    height: unset;
}

.content{
    max-width: 1000px;
    padding: 0 0 50px 0;    
    text-align: center;
    margin: 0 5%;
}

.content-title
{    
    text-align: center;
    padding-top: 5px;    
}

@media screen and (min-width: 750px) {
    
}

@media screen and (min-width: 800px) {
    .content-form {
        margin: 0% 10%;        
    }
}

.content-form input, .content-form textarea
{
    width: 100%;
    border-bottom: 2px solid #0cb364;
    border-radius: 5%;
    background-color: white;
    margin-bottom: 10px;
    height: 35px;
    font-family: Poppins-Medium;
    font-size: 16px;
    padding-left: 5px;
}

.content-form input:focus, .content-form textarea:focus{
    border-bottom: 2px solid #00dbde !important;
}

@media screen and (min-width: 750px) {
    .content-form input, .content-form textarea {
        height:30px;
    }
}

.content-form #gender input, .content-form #agreement input{
    width:unset;
}

.content-form #agreement{
    text-align: left;
    padding-bottom: 12px;
}

.content-form #gender{
    text-align: left;
}

